<a href="https://colab.research.google.com/github/ANIPIREDDYNAGAMANI/assignments/blob/main/Data_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). **

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',sep=", ",engine='python',
                   names=["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","salary"])
# data = pd.read_csv('adult.data',sep=", ",engine='python',
#                    names=["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","salary"]))
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [ ]:
#you code here
total_sex= data['sex'].value_counts()
total_sex

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [ ]:
# you code here
data.loc[data['sex'] == 'Female', 'age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [ ]:
# You code here
sample=data.shape[0]
german=data['native-country']=="Germany"
float(german.sum()) /sample

0.004207487485028101

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [ ]:
# You code here
agesrich = data.loc[data['salary'] == '>50K', 'age']
agespoor = data.loc[data['salary'] == '<=50K', 'age']
print("The average age of the rich: {0} \n The average age of the poor: {1} \n standard deviation of rich:{2} \n standatd deviation of poor:{3}\n".format(
  agesrich.mean(),agespoor.mean(),agesrich.std(),agespoor.std()))

The average age of the rich: 44.24984058155847
 The average age of the poor: 36.78373786407767
 standard deviation of rich:10.51902771985177
 standatd deviation of poor:14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [ ]:

# You code here
data.loc[data['salary'] == '>50K', 'education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [ ]:

# You code here
sat_df=data.groupby(['race','sex']).describe()
sat_df['age']

                             count       mean        std  ...   50%    75%   max
race               sex                                    ...
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  ...  36.0  46.00  80.0
                   Male      192.0  37.208333  12.049563  ...  35.0  45.00  82.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  ...  33.0  43.75  75.0
                   Male      693.0  39.073593  12.883944  ...  37.0  46.00  90.0
Black              Female   1555.0  37.854019  12.637197  ...  37.0  46.00  90.0
                   Male     1569.0  37.682600  12.882612  ...  36.0  46.00  90.0
Other              Female    109.0  31.678899  11.631599  ...  29.0  39.00  74.0
                   Male      162.0  34.654321  11.355531  ...  32.0  42.00  77.0
White              Female   8642.0  36.811618  14.329093  ...  35.0  46.00  90.0
                   Male    19174.0  39.652498  13.436029  ...  38.0  49.00  90.0

[10 rows x 8 columns]

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [ ]:

# You code here
print("Married")
print(data.loc[data['marital-status'].str.contains("married")& (data['sex']=="Male"),'salary'].value_counts())
print("Bachelors")
print(data.loc[data['marital-status'].str.contains("married")& (data['sex']=="Male"),'salary'].value_counts())

Married
<=50K    5591
>50K      325
Name: salary, dtype: int64
Bachelors
<=50K    5591
>50K      325
Name: salary, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [ ]:

# You code here
max_load = data['hours-per-week'].max()
print("Max time - {0} hours./week.".format(max_load))

num_workaholics = data[data['hours-per-week'] == max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))

rich_share = float(data[(data['hours-per-week'] == max_load)
                 & (data['salary'] == '>50K')].shape[0]) / num_workaholics
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 99 hours./week.
Total number of such hard workers 85
Percentage of rich among them 29%

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [ ]:
# You code here
sub_df=data.groupby(['native-country','salary']).mean()
for i in range(sub_df.shape[0]):
    print(sub_df[i:i+1][['hours-per-week']])

                       hours-per-week
native-country salary
?              <=50K         40.16476
                       hours-per-week
native-country salary
?              >50K         45.547945
                       hours-per-week
native-country salary
Cambodia       <=50K        41.416667
                       hours-per-week
native-country salary
Cambodia       >50K              40.0
                       hours-per-week
native-country salary
Canada         <=50K        37.914634
                       hours-per-week
native-country salary
Canada         >50K         45.641026
                       hours-per-week
native-country salary
China          <=50K        37.381818
                       hours-per-week
native-country salary
China          >50K              38.9
                       hours-per-week
native-country salary
Columbia       <=50K        38.684211
                       hours-per-week
native-country salary
Columbia       >50K              50.0
                       hours-per-week
native-country salary
Cuba           <=50K        37.985714
                       hours-per-week
native-country salary
Cuba           >50K             42.44
                           hours-per-week
native-country     salary
Dominican-Republic <=50K        42.338235
                           hours-per-week
native-country     salary
Dominican-Republic >50K              47.0
                       hours-per-week
native-country salary
Ecuador        <=50K        38.041667
                       hours-per-week
native-country salary
Ecuador        >50K             48.75
                       hours-per-week
native-country salary
El-Salvador    <=50K        36.030928
                       hours-per-week
native-country salary
El-Salvador    >50K              45.0
                       hours-per-week
native-country salary
England        <=50K        40.483333
                       hours-per-week
native-country salary
England        >50K         44.533333
                       hours-per-week
native-country salary
France         <=50K        41.058824
                       hours-per-week
native-country salary
France         >50K             50.75
                       hours-per-week
native-country salary
Germany        <=50K        39.139785
                       hours-per-week
native-country salary
Germany        >50K         44.977273
                       hours-per-week
native-country salary
Greece         <=50K        41.809524
                       hours-per-week
native-country salary
Greece         >50K            50.625
                       hours-per-week
native-country salary
Guatemala      <=50K        39.360656
                       hours-per-week
native-country salary
Guatemala      >50K         36.666667
                       hours-per-week
native-country salary
Haiti          <=50K           36.325
                       hours-per-week
native-country salary
Haiti          >50K             42.75
                           hours-per-week
native-country     salary
Holand-Netherlands <=50K             40.0
                       hours-per-week
native-country salary
Honduras       <=50K        34.333333
                       hours-per-week
native-country salary
Honduras       >50K              60.0
                       hours-per-week
native-country salary
Hong           <=50K        39.142857
                       hours-per-week
native-country salary
Hong           >50K              45.0
                       hours-per-week
native-country salary
Hungary        <=50K             31.3
                       hours-per-week
native-country salary
Hungary        >50K              50.0
                       hours-per-week
native-country salary
India          <=50K        38.233333
                       hours-per-week
native-country salary
India          >50K            46.475
                       hours-per-week
native-country salary
Iran           <=50K            41.44
                       hours-per-week
native-country salary
Iran           >50K              47.5
                       hours-per-week
native-country salary
Ireland        <=50K        40.947368
                       hours-per-week
native-country salary
Ireland        >50K              48.0
                       hours-per-week
native-country salary
Italy          <=50K           39.625
                       hours-per-week
native-country salary
Italy          >50K              45.4
                       hours-per-week
native-country salary
Jamaica        <=50K        38.239437
                       hours-per-week
native-country salary
Jamaica        >50K              41.1
                       hours-per-week
native-country salary
Japan          <=50K             41.0
                       hours-per-week
native-country salary
Japan          >50K         47.958333
                       hours-per-week
native-country salary
Laos           <=50K           40.375
                       hours-per-week
native-country salary
Laos           >50K              40.0
                       hours-per-week
native-country salary
Mexico         <=50K        40.003279
                       hours-per-week
native-country salary
Mexico         >50K         46.575758
                       hours-per-week
native-country salary
Nicaragua      <=50K         36.09375
                       hours-per-week
native-country salary
Nicaragua      >50K              37.5
                                   hours-per-week
native-country             salary
Outlying-US(Guam-USVI-etc) <=50K        41.857143
                       hours-per-week
native-country salary
Peru           <=50K        35.068966
                       hours-per-week
native-country salary
Peru           >50K              40.0
                       hours-per-week
native-country salary
Philippines    <=50K        38.065693
                       hours-per-week
native-country salary
Philippines    >50K         43.032787
                       hours-per-week
native-country salary
Poland         <=50K        38.166667
                       hours-per-week
native-country salary
Poland         >50K              39.0
                       hours-per-week
native-country salary
Portugal       <=50K        41.939394
                       hours-per-week
native-country salary
Portugal       >50K              41.5
                       hours-per-week
native-country salary
Puerto-Rico    <=50K        38.470588
                       hours-per-week
native-country salary
Puerto-Rico    >50K         39.416667
                       hours-per-week
native-country salary
Scotland       <=50K        39.444444
                       hours-per-week
native-country salary
Scotland       >50K         46.666667
                       hours-per-week
native-country salary
South          <=50K         40.15625
                       hours-per-week
native-country salary
South          >50K           51.4375
                       hours-per-week
native-country salary
Taiwan         <=50K        33.774194
                       hours-per-week
native-country salary
Taiwan         >50K              46.8
                       hours-per-week
native-country salary
Thailand       <=50K        42.866667
                       hours-per-week
native-country salary
Thailand       >50K         58.333333
                        hours-per-week
native-country  salary
Trinadad&Tobago <=50K        37.058824
                        hours-per-week
native-country  salary
Trinadad&Tobago >50K              40.0
                       hours-per-week
native-country salary
United-States  <=50K        38.799127
                       hours-per-week
native-country salary
United-States  >50K         45.505369
                       hours-per-week
native-country salary
Vietnam        <=50K        37.193548
                       hours-per-week
native-country salary
Vietnam        >50K              39.2
                       hours-per-week
native-country salary
Yugoslavia     <=50K             41.6
                       hours-per-week
native-country salary
Yugoslavia     >50K              49.5